* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


/* Header styles */

.banner {
    background-image: url("../images/banner/banner2.png");
    background-repeat: no-repeat;
    max-width: 100%
    height: 810px;
    

}

.banner-info {
    text-align: right;
    padding: 150px 100px 160px 600px;
}

.banner-title {
    font-weight: 700;
    font-size: 50px;
    color: #151414;
    margin-bottom: 25px;
}

.banner-description {
    color: #444343;
    margin-bottom: 25px;
    font-size: 14px;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    background-color: #F15B22;
    border: none;
    padding: 20px 25px;
    border-radius: 5px;
}

/* About section style */

.about {
    background: #CCCCCD;
    border-radius: 10px;
    padding: 50px 100px;
    text-align: center;
}

.about-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}

.about-description {
    color: #757575;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info .info-title {
    font-size: 20px;
    color: #757575;
}

.about-info .info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* Failure section styles */

section {
    margin-top: 100px;
}

.failure-container {
    display: flex;
    gap: 90px;
    align-items: center;
    padding-left: 205px;
    padding-right: 150px;
}

.failure-container img{
    width: 300px;
    height: 400px;
}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 20px;
} 

.failure-description p {
    color: #444343;
    margin-bottom: 10px;
}

/* plan section styles */

.plan-section {
    padding-left: 130px;
    padding-right: 130px;
}
.plan-section-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
    margin-bottom: 50px;
}

.plan-container {
    display: flex;
    gap: 90px;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 130px;
}

.plan-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-top: 25px;
    margin-bottom: 15px;
}

.plan-description {
    font-weight: 500;
    font-size: 20px;
    color: #737272;
}

/* contact section styles */

.contact-section {
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    background-repeat: no-repeat;
    width: 940px;
    height: 300px;
    margin: 0 auto;
    border-radius: 8px;
}

.contact-container {
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 400px;
}

.contact-container .title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.contact-btn {
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    background-color: #FFFFFF;
    border: none;
    padding: 20px 25px;
    border-radius: 5px;
}

/* Future and Subscribe section styles */

.future-container {
    display: flex;
    gap: 330px;
    background: #151414;
    height: 400px;
    padding-top: 100px;
    padding-left: 130px;
    padding-right: 130px;
}

.future-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 20px;
}


.future-container p {
    color: #FFFFFF;
    margin-bottom: 10px;
}

.future-container a {
    text-decoration: none;
    margin-right: 18px;
}

.title-sbs {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

input {
    color: #F3F3F3;
    font-size: 18px;
    border: 1px solid white;
    /* width: 200px; */
    
    margin-bottom: 16px;
    background: #151414;
    padding: 20px 25px;
    border-radius: 5px;
}

.subscribe-btn {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    background-color: #005FAC;
    border: none;
    padding: 20px 25px;
    border-radius: 5px;
}
footer{
    text-align: center;
    color: #FFFFFF;
    background: #151414;
}